.NotificationsProvider-br {
  position: absolute;
  bottom: 0;
  right: 0;
}

.NotificationsProvider-tr {
  position: absolute;
  top: 0;
  right: 0;
}

.NotificationsProvider-tl {
  position: absolute;
  top: 0;
  left: 0;
}

.NotificationsProvider-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}
